<!-- 


<ion-footer>
  <ion-toolbar>
    <ion-tabs>
      <ion-tab-bar slot="bottom">
        <ion-tab-button tab="home" routerLink="/home" routerDirection="root">
          <ion-icon name="home-outline"></ion-icon>
          <ion-label>Home</ion-label>
        </ion-tab-button>

        <ion-tab-button tab="ai-chat" routerLink="/ai-chat">
          <ion-icon name="chatbox-outline"></ion-icon>
          <ion-label>AI Chat</ion-label>
        </ion-tab-button>

        <ion-tab-button tab="notes" routerLink="/notes">
          <ion-icon name="document-text-outline"></ion-icon>
          <ion-label>Notes</ion-label>
        </ion-tab-button>

        <ion-tab-button tab="flashcards" routerLink="/flashcard">
          <ion-icon name="albums-outline"></ion-icon>
          <ion-label>Flashcards</ion-label>
        </ion-tab-button>

        <ion-tab-button tab="planner" routerLink="/planner">
          <ion-icon name="calendar-outline"></ion-icon>
          <ion-label>Planner</ion-label>
        </ion-tab-button>
      </ion-tab-bar>
    </ion-tabs>
  </ion-toolbar>
</ion-footer> -->